[submodule "src-cura/CuraEngine"]
	path = src-cura/CuraEngine
	url = git@github.com:SynDaverCO/CuraEngine.git
[submodule "src-app/guide"]
	path = src-app/guide
	url = git@github.com:SynDaverCO/symple-slicer-guide.git
